// src/scss/partials/_base.scss
$font-stack: 'Helvetica, Arial, sans-serif';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: $font-stack;
    background-color: $light-color;
    color: $dark-color;
    line-height: 1.6;
    scroll-behavior: smooth;
  }
  