// Services section

#section2 {
    h2 {
      color: $secondary-color;
    }
  
    .icon {
      font-size: 3rem;
      margin-bottom: 0.5rem;
    }
  
    h4 {
      margin-top: 1rem;
      color: $dark-color;
    }
  
    p {
      color: #555;
    }
  }
  