// src/scss/partials/_variables.scss

// Couleurs principales
$primary-color: #00bcd4;
$secondary-color: #0097a7;
$dark-color: #121212;
$light-color: #f9f9f9;

// Typo
$font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
